/* styles.css */
/* styles.css */

body {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    background-color:  #b0e0e6 ;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 300px;
    margin: 110px auto;
    padding: 20px;
    background: #f5deb3 ;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

input[type="text"],
input[type="date"],
input[type="number"],
button {
    padding: 10px;
    margin: 5px;
    border-color: coral;
    width: 90%;
    background-color:#f4f4f4;
    background: #b0e0e6;
    border-radius: 10px;
}

button {
    margin-top: 15px;
    color: white;
    cursor: pointer;
    width: 80%;
    border: none;
    border-radius: 10px;
    transition: transform 0.2s; /* Add a transition for the transform property */
    background: linear-gradient(to right, #007BFF, #8000FF); /* Gradient for default color */
    background-size: 200% auto;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* Apply the pop-up effect on button hover and focus */
button:hover,
button:focus {
    transform: scale(1.1); /* Scale the button to make it "pop" */
    background-position: right center;
}

ul {
    list-style-type: none;
    padding: 0;
    color:#333333;
}

li {
    background-color: #c1ffc1; 
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
input::placeholder {
    color: black; /* Change this to the desired color */
}
